@using SharedModels;

<div class="accordion" id="accordionExample">
    @foreach (var contato in contatos){
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    @contato.Nome
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    @contato.Email
                </div>
            </div>
        </div>
    }
</div>

@code {
    
    [Parameter]
    public ICollection<ContatoDto> contatos { get; set; }
}